// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";

// Components

@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/shared.scss";
@import "./components/forms.scss";
@import "./components/social-login.scss";
@import "./components/video-player.scss";

// Screens

@import "./screens/home.scss";
@import "./screens/search.scss";
@import "./screens/profile.scss";
@import "./screens/edit-profile.scss";
@import "./screens/upload.scss";
@import "./screens/watch.scss";

a {
  color: inherit;
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

label {
  background-color: transparent;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

body {
  background-color: $bg;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

footer {
  margin-bottom: 30px;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 1000px;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 5s;
  &.error {
    background-color: tomato;
    color: white;
  }
}

.light-mode__btn {
  border: none;
  background-color: transparent;
  color: #f1f7fb;
  cursor: pointer;
}
.light__mode {
  .video:fullscreen {
    background-color: black;
  }
  background-color: whitesmoke;
  color: black;
  i {
    color: black;
  }
  label {
    background-color: transparent;
    color: rgba($color: $lightInput, $alpha: 0.9);
  }
  form {
    &:not(.search__form) {
      background-color: rgba($color: $lightInput, $alpha: 0.1);
    }
  }

  .auth-switch {
    background-color: transparent;
  }
  .videoControls {
    background-color: transparent;
    div,
    input,
    span {
      background-color: transparent;
      color: white;
    }
    i {
      background-color: transparent;
      color: white;
    }
  }
  input:not(input[type="range"]),
  input[type="submit"] {
    background-color: rgba($color: $lightInput, $alpha: 0.7);
    color: whitesmoke;
  }
  input[type="submit"],
  .social__btn {
    color: rgba($color: white, $alpha: 0.9) !important;
  }
  .social-login {
    border-top: 1px solid rgba($color: $lightInput, $alpha: 0.7);
    background-color: transparent;
    i {
      color: rgba($color: $lightInput, $alpha: 0.9);
    }
  }
  .social__btn--github,
  .social__btn--kakao {
    color: rgba($color: $lightInput, $alpha: 0.9) !important;
  }

  .video__add-comments button,
  .video__comments-container button {
    background-color: #fbf9f9;
  }

  .comment-textarea {
    background-color: #fbf9f9;
    color: rgba($color: $bg, $alpha: 0.9);
  }

  .video__data {
    .video__data-box,
    .video__owner,
    .video__edit-delete {
      border-bottom: solid rgba($color: $bg, $alpha: 0.3);
    }
    .video__edit-delete a {
      color: rgba($color: red, $alpha: 0.3);
    }
  }
  .video__comments-container {
    .video__comment {
      background-color: rgba($color: $lightInput, $alpha: 0.1);
      color: black;
      border: 1px solid rgba($color: $lightInput, $alpha: 0.7);
    }
    .comment__owner span {
      color: rgba($color: $lightInput, $alpha: 0.7);
    }
    .comment__content {
      background-color: #f1f7fb;
    }
  }
  .search__form {
    input {
      color: #f1f7fb !important;
    }
    button {
      i {
        color: white;
        background-color: transparent;
      }
      background-color: #d9b4b4;
    }
  }
  .profile__data {
    h3 {
      color: aliceblue;
      background-color: #d9b4b4;
      border: 1px solid rgba($color: lightpink, $alpha: 0.7);
    }
    .profile__edit_btn {
      color: aliceblue;
      background-color: rgba($color: $lightInput, $alpha: 0.9);
    }
    .profile__user-email > * {
      color: rgba($color: $bg, $alpha: 0.4);
    }
    border-bottom: 1px solid rgba($color: $bg, $alpha: 0.3);
  }
  header {
    a,
    i,
    .fas.fa-address-card.fa-lg {
      color: $lightInput;
    }
    .header__logo i {
      color: $red;
    }
    .header__btn {
      color: whitesmoke;
      background-color: $lightInput;
    }
  }

  .message span {
    color: rgba($color: $lightInput, $alpha: 0.9);
  }
}

input:focus,
textarea:focus {
  outline: none;
}
