extends base.pug

block content 
    if errorMessage 
    span=errorMessage
    form(method="POST")
        input(placeholder="Current Password",name="curPassword",type="password",required=true)
        input(placeholder="New Password",name="newPwd",type="password",required=true)
        input(placeholder="New Password Confirmation",name="newPwdConfirm",type="password",required=true)
        input(type="submit",value="Change Password")
 