extends base 
include mixins/video

block content   
    div.profile__data  
        if user.avatarUrl === ""
            span.profile__no-image 😀 No Profile Image...
        else
            img(src=user.avatarUrl, crossorigin).avatar
        h3 Hi, #{user.username}!
        a(href="/users/edit").profile__edit_btn Edit profile
    h2.profile__uploaded_videos Your Videos
    div.video-grid
        each video in videos
            +video(video)
        else    
            li Sorry nothing found...
        